:root {
  --primary-color: #49beb7;
  --secondary-color: #085f63;
  --hero-color: #f1f1f1;
  --backup-color: #f5e1da;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font: Playfair Display;
  --paragraph-font: Poppins;
}

body {
  margin: 80px auto;
}

h1,
h2 {
  font-family: var(--header-font);
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  text-align: left;
  margin-left: 0;
}

h3,
p,
a {
  font-family: var(--paragraph-font);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  text-align: center;
}

h4 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: start;
}

img {
  border-radius: 10px;
}

.navbar-list {
  display: flex;
  justify-content: right;
}

.hero {
  background: var(--hero-color);
  padding: 50px;
}

.container-bg {
  background: var(--backup-color);
  border-radius: 10px;
}

.container {
  padding: 20px;
}

.portfolio-image,
.portfolio-profile-image {
  display: flex;
  justify-items: center;
  margin: 40px auto;
}

.portfolio-profile-image {
  width: 350px;
}

.project-description {
  padding: 0 50px 0;
}

.about-content {
  padding-top: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  background: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px;
}

.about-paragraphs p {
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.button-link {
  border-radius: 5px;
  padding: 20px 15px;
  text-transform: capitalize;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  box-shadow: var(--box-shadow);
}

.work-inquiry-link {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.work-inquiry h1 {
  font-size: 48px;
}

.work-header {
  width: 830px;
  font-size: 64px;
  text-align: left;
}

.project-header {
  font-size: 24px;
  color: black;
  font-weight: 700;
  font-family: var(--header-font);
}

.project-paragraph {
  font-size: 14px;
  margin-top: 10px;
}

.email-link {
  font-size: 24px;
  color: black;
}

.social-media ul {
  display: block;
  list-style-type: none;
  text-align: center;
}

.icons li {
  display: inline;
  padding: 20px;
  color: var(--secondary-color);
}

.icons i {
  font-size: 25px;
}

.grid img {
  width: fit-content;
  aspect-ratio: 1/1;
}

#contact {
  margin-top: 25px;
}

@media (max-width: 767px) {
  h2,
  h4 {
    text-align: center;
    width: 100%;
  }

  p {
    text-align: center;
  }

  .portfolio-profile-image {
    width: 350px;
    height: auto;
  }

  .project-description,
  .about-content {
    display: grid;
    width: 100%;
  }

  .button-link {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
}

@media (max-width: 991px) {
  .navbar-list {
    justify-content: left;
  }
}
